
footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center-align the content */
    position: fixed;
    bottom: 0;
    width: 100%;

  }
  
  .footer-content {
    max-width: 1200px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
  }
  