.skill-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Add a transition effect */
  }
  
  .skill-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
  }
  
 
  .skill-card-body {
    padding: 10px;
  }
  
  .skill-card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  