
footer {
    margin-top: 2.5em;
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
    text-align: center; /* Center-align the content */
    padding-bottom: 2em;
  }
  
  
  .footer-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding: 1.5em
  }
  
  .social-icon {
    font-size: 24px;
    color: #007BFF; /* Icon color */
    margin: 0 10px; /* Adjust spacing between icons */
    text-decoration: none; /* Remove underlines from links */
  }

  .line {
    margin-top: 1em;
    border-left: groove;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    text-align: center;
  }
  
  @media only screen and (max-width: 550px) {
    .line {
      display: none;
    }

    .footer-content{
      flex-direction: column;
      gap: 2em
    }
  }
  