<form [formGroup]="loginForm" class="form-group">
  <img class="login-image" src="/assets/images/login-img.png" />
  <h2>Welcome Back!</h2>
  <input
    type="text"
    placeholder="Username"
    pInputText
    formControlName="username"
  />
  <p-password
    placeholder="Password"
    formControlName="password"
    [toggleMask]="true"
  ></p-password>
  <p-button (click)="onSubmit()">Log in</p-button>
  <p class="password-question">
    Did you forget your password? Click <a href="">here.</a>
  </p>
</form>
<!-- <div class="flag"> 
  <img class="usa-flag" src="/assets/images/usa-flag.png" />
  <img class="span-flag" src="/assets/images/spain-flag.png" />
  <img class="greek-flag" src="/assets/images/greek-flag.png" />
</div> -->

<!-- login.component.html -->
<div class="flag" [ngStyle]="getRandomPosition()">
  <img class="usa-flag" src="/assets/images/usa-flag.png" alt="USA Flag" />
</div>
<div class="flag" [ngStyle]="getRandomPosition()">
  <img
    class="spain-flag"
    src="/assets/images/spain-flag.png"
    alt="Spain Flag"
  />
</div>
<div class="flag" [ngStyle]="getRandomPosition()">
  <img
    class="greek-flag"
    src="/assets/images/greek-flag.png"
    alt="Greek Flag"
  />
</div>
