.login-image {
    width: 15vw;
    min-width: 12em;
    align-self: center;
}

.form-group {
    width: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5em;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 5vh 10vw;
    align-content: center;
    margin: auto;
    box-shadow: -1px 3px 15px dimgray;
    max-width: 30em;
    margin-top: 2em;
}

.flag {
  position: relative;
}

.flag img {
  position: absolute;
  bottom: 0;
  animation: fly-up 5s ease-in-out infinite;
  opacity: 0;
}

.usa-flag {
  left: 10%;
  width: 90px;
}

.span-flag {
  left: 25%;
  width: 90px;
}

.greek-flag {
  left: 70%;
  width: 90px;
}

.uk-flag{
  left: 80%;
  width: 90px;
}

.canada-flag{
  left: 90%;
  width: 90px;
}

.mexico-flag{
  left: 35%;
  width: 90px;    
}

  @keyframes fly-up {
  50% {
        transform: translateY(-50vh);
        opacity: 1;
    }
      
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
  }